* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    120deg,
    #705f8b 0%,
    #bf8683 0%,
    #21508e 100%
  );
}

.loader {
  position: absolute;
  top: 45%;
  left: 47%;
  z-index: 1;
}
